@font-face {
    font-family: 'CF Three Dimensions Personal';
    src: url('CFThreeDimensionsPersonal-Reg.eot');
    src: url('CFThreeDimensionsPersonal-Reg.eot?#iefix') format('embedded-opentype'),
        url('CFThreeDimensionsPersonal-Reg.woff2') format('woff2'),
        url('CFThreeDimensionsPersonal-Reg.woff') format('woff'),
        url('CFThreeDimensionsPersonal-Reg.ttf') format('truetype'),
        url('CFThreeDimensionsPersonal-Reg.svg#CFThreeDimensionsPersonal-Reg') format('svg');
    font-weight: normal;
    font-style: normal;
}

