html {
    scroll-behavior: smooth;
}

body {
  display: flex;
	position: relative;	
  height:100vh;
	margin: 0;
	overflow-y:hidden;
  overflow-x:hidden;
  font-family: Roboto;
}


/* conteneur principal */
#cont {
	display: flex;
  position: relative;
  max-width: 2000px;
  margin: auto;
	height:100vh;
	width:100vw;
  /* background-image: linear-gradient(to right, #3217e5, #0067ff, #008bf5, #00a5d1, #00b9b4, #07bb94, #4ab968, #7ab434, #abad09, #b67f00, #cc5b00, #da2018); */
  background-image: linear-gradient(to right bottom, #0f1339, #121548, #171757, #1e1865, #271874, #2e1981, #361a8d, #3e1b9a, #431fa9, #4824b8, #4d28c8, #522dd8);
}
  

.slide {
	position: relative;
	height:100vh;
	width:100vw;
	display: flex;
  justify-content: center;
  align-items: center;
}

#maxCont {
  position: absolute;

}


/*
#sl0 {
    background-color: red;
}
#sl1 {
    background-color: orange;
}
#sl2 {
    background-color: yellow;
}
#sl3 {
    background-color: green;
}
#sl4 {
    background-color: blue;
}
*/


.hidden {
	display: none;
}

* {
  box-sizing: border-box;
}


/*------------------------- Next & previous buttons------------------ */
#prev, #next {
  cursor: pointer;
  position: fixed;
  top: 45%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-size: 4em;
  user-select: none; /* ne marche pas !!!*/
}

/* Position the "next button" to the right */
#next {
    right: 0;
    z-index: 1;
}

#prev {
   left: 0;
   z-index: 1;
}


/*-----------------------slide0-----------------------*/

#finalTitle {
  position: absolute;
  height: 100%;
  width: 100%;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
}
#finalTitleContainer {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  }
#finalTitle img{
  margin: auto;
  height: 70%;

}

#skipBtn {
  color:  #fff;
  position: absolute;
  left: 1vw;
  top: 1vw;
  cursor: pointer; 
  z-index: 2;
  font-family: CF Three Dimensions Personal;
  font-size:.9em;
  text-align: center;
}

@font-face {
    font-family: 'CF Three Dimensions Personal';
    src: url('fonts/CFThreeDimensionsPersonal-Reg.eot');
    src: url('fonts/CFThreeDimensionsPersonal-Reg.eot?#iefix') format('embedded-opentype'),
        url('fonts/CFThreeDimensionsPersonal-Reg.woff2') format('woff2'),
        url('fonts/CFThreeDimensionsPersonal-Reg.woff') format('woff'),
        url('fonts/CFThreeDimensionsPersonal-Reg.ttf') format('truetype'),
        url('fonts/CFThreeDimensionsPersonal-Reg.svg#CFThreeDimensionsPersonal-Reg') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Roboto';
    src: url('fonts/Roboto-Regular.eot');
    src: url('fonts/Roboto-Regular.eot?#iefix') format('embedded-opentype'),
        url('fonts/Roboto-Regular.woff2') format('woff2'),
        url('fonts/Roboto-Regular.woff') format('woff'),
        url('fonts/Roboto-Regular.ttf') format('truetype'),
        url('fonts/Roboto-Regular.svg#Roboto-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
}

h1 {
	color: white;
	font-family: CF Three Dimensions Personal;
	font-size: 16em;
	line-height: 0.9em;
	-ms-transform: rotate(-20deg); /* IE 9 */
  -webkit-transform: rotate(-20deg); /* Safari 3-8 */
  transform: rotate(-20deg);
	/* margin: auto; */
	text-align: center;
	vertical-align: center;
  position: absolute;
  transition: margin-left 1s;
}


#tw {
	top: 8vh;
	left: 15vw;
}

#te1 {
	top: 10vh;
	left: 30vw;
}

#tb {
	top: 10vh;
	left: 40vw;
}

#td {
	top: 30vh;
	left: 30vw;
}

#te2 {
	top: 40vh;
	left: 45vw;
	
}

#tv {
	top: 30vh;
	left: 55vw;	
}

#tr {
	top: 60vh;
	left: 37vw;
}

#te3 {
	top: 62vh;
	left: 50vw;	
}

#tm {
	top: 60vh;
	left: 62vw;
}






.sp1 {
	font-size: 12em;
	position: absolute;
	color: white;
	font-family: CF Three Dimensions Personal;
}

.sp2 {
	font-size: 8em;
	position: absolute;
	color: white;
	font-family: CF Three Dimensions Personal;
}

.sp3 {
	font-size: 5em;
	position: absolute;	
	color: white;
	font-family: CF Three Dimensions Personal;
}

.stopEvent {
    pointer-events: none;
}


/*-----------------------Navigation-----------------------*/

#nav {
  position: absolute;
  /* height: 80vh; */
  width: 23vw;
  left: 4vw;
  top: 10vh;
  border: 3px solid #f1f1f1;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  background-color: #fff;
  /* opacity: 0; */
}

@keyframes fadein {
  from { opacity: 0; }
  to   { opacity: 1; }
}

.fadein {
  animation: fadein 2s;
}

#navContact {
  background-color: orangered;
}
#navPresentation {
  background-color: yellowgreen;
}

#navProjets {
  background-color: darkslateblue;
}

.navCat {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 5%;
  font-family: CF Three Dimensions Personal;
  color: white;
  justify-content: center;
  padding: 1rem;
  cursor: pointer;
}

#navPresCont {
  max-height: 0px;
  /* background-color: rgb(191, 214, 145); */
  transition: max-height .5s linear;
  overflow-y: hidden;
  border-bottom: 5px solid yellowgreen;
  border-left: 5px solid yellowgreen;
  border-right: 5px solid yellowgreen;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

 #navMvotd.expanded, #navPublicomDesign.expanded, #navSbjs.expanded  {
  max-height: 500px;
}
#navPresCont.expanded {
  max-height: 500px;
  /* min-height: 499px; */
}

#navMvotd, #navPublicomDesign, #navSbjs {
  max-height: 0px;
  width: 100%;
  background-color: slateblue;
  transition: max-height .5s linear;
  overflow-y: hidden;
  cursor: pointer;
}
.navProjCat img {
  width: 100%;
}

.arrow {
  color: rgb(90, 90, 90);
  font-weight: 900;
  cursor: pointer;
}

.navlist {
  position: absolute;
  list-style-type: none;
  background-color: #fff;
  margin: 0;
  padding: 0;
  color: #666;
  font-size: .9rem;
  transition: .5s;
  z-index: 5;
}

.navlist li {
  padding-left: .5rem ;
  cursor: pointer;
}

.navlist li:hover {
  color: #000 ;
}

input {
  cursor: pointer;
   
 }

 #mobileNavTopView {
   display: none
 }

 #navProjetsCont {
  max-height: 500px;
  overflow: auto;
}

/*-----------------------slide1-----------------------*/

#sl1 {
	display: none;
}

#sl1Child {
  display: flex;
  justify-content: flex-start;
	width: 100%;
  height: 100%;
  padding-left: 5vw;
}

#cont1 {
	/* margin: 5% 1%; */
	overflow-y: scroll;
  overflow-x: hidden;
  /* width: 60vw; */
  transition: 1s;
  transform-origin: 110% -10%;
}

.slideout {
  transform: rotate(90deg);
  transition: 1s;
}

#asideLogo {
	background-color: white;
    border: 3px solid #f1f1f1;
    border-radius: 4px;
	margin: 5% 1%;
	width: 10vw;
	text-align:center;
	padding: 1%;
}

.icon {
  transition: 0.6s;
  margin: 5%;
}

.scale {
  transform:scale(1.2,1.2);
	
}


/* The browser window */

.container {
  position: absolute;
  top: 10vh;
  right: 4vw;
  width: 65vw;
  height: 80vh;
  border: 3px solid #f1f1f1;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  background-color: #fff;
}

/* Container for columns and the top "toolbar" */
.row {
  padding: 10px;
  background: #f1f1f1;
}

/* Create three unequal columns that floats next to each other */
.column {
  float: left;
}

.left {
  width: 20%;
}

.right {
  width: 10%;
}

.middle {
  width: 70%;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Three dots */
.dot {
  margin-top: 4px;
  height: 12px;
  width: 12px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
}

/* Style the input field */
input[type=text] {
  width: 100%;
  border-radius: 3px;
  border: none;
  background-color: white;
  margin-top: -8px;
  height: 25px;
  color: #666;
  padding: 5px;
}

/* Three bars (hamburger menu) */
.bar {
  width: 17px;
  height: 3px;
  background-color: #aaa;
  margin: 3px 0;
  display: block;
}

/* Page content */
.content {
	/* width:70%;
	height: 70%;
  padding: 0; */
	
}

#html, #before {
  width: 100%;
  padding: 20px;
  height: 200px;
  font-size: .9rem;
}


/* Header/logo Title */
.head {
  padding: 25px;
  justify-content: space-around;
  background: #7CB342;
  color: white;
  display: flex;
  flex-direction: row;
}

/* Increase the font size of the heading */
.head h2 {
	text-align: center;
    font-size: 40px;
}


/* Column container */
.rows {  
  display: -ms-flexbox; /* IE10 */
  display: flex;
  -ms-flex-wrap: wrap; /* IE10 */
  flex-wrap: wrap;
  padding : 0;
  /*flex-direction: row-reverse;*/
}

/* Create two unequal columns that sits next to each other */
/* Sidebar/left column */
.side {
	position: relative;
  -ms-flex: 30%; /* IE10 */
  flex: 30%;
  background-color: #C5E1A5;
  padding: 20px;
  text-align: center;
}

#header {   
	position: relative;
}

#devTitle {   
	font-size: 1.6em;
}

/* Main column */
.main {   
	position: relative;
  -ms-flex: 70%; /* IE10 */
  flex: 70%;
  background-color: white;
  padding: 20px;
}


/* Footer */
.footer {
	position: relative;
  padding: 10px;
  text-align: center;
  background: #7CB342;
  color: white;
}

#cont1 ul {
  list-style: none; /* Remove HTML bullets */
  padding: 0;
  margin: 0;
}

#cont1 ul li { 
  padding-left: 16px; 
  font-size: .9rem;

}

#cont1 ul li::before {
  content: "•"; /* Insert content that looks like bullets */
  padding-right: 8px;
  color: #7CB342;
}

.compFooter{
  width: 100%;
  background-color: #C5E1A5;
  min-height : 40px;
  text-align: center;


}

#comp {
  display: flex;
  justify-content: space-around;
  padding: 10px;
  min-height: 100%;
 }

.comp {
  flex-direction: column;
  padding: 10px;
}

.fadeOut {
    animation: fade-out 6s forwards;
    -moz-animation: fade-out 6s forwards;
    -webkit-animation: fade-out 6s forwards;
    -o-animation: fade-out 6s forwards;

}

@keyframes fade-out {
    0% {
        opacity:1;
    }
    100% {
        opacity:0;
    }
}


.rotate {
    animation: rotate-360 2s forwards;
    -moz-animation: rotate-360 2s forwards;
    -webkit-animation: rotate-360 2s forwards;
    -o-animation: rotate-360 2s forwards;
	transition-timing-function: ease-in;
}

@keyframes rotate-360 {
    0% {
        transform: rotate(0deg); 
        opacity: 1;
      }
      100% {
        transform: rotate(355deg); 
        opacity: 0;
    }
}

/*
#comp2 {
	background-color:#ff9999;
	border-radius: 50%;
	text-align: center;
	padding: 20px;
	border: 3px solid red ;	
}

#comp3 {
	color: blue ;
	border-radius: 50%;
	text-align: center;
	padding: 20px;
	border: 3px solid blue ;
}

#comp4 {
	color: yellow ;
	border-radius: 50%;
	text-align: center;
	padding: 20px;	
	border: 3px solid yellow ;
}

#comp5 {
	color: purple ;
	border-radius: 15px;
	text-align: center;
	padding: 20px;
	border: 3px solid purple 
}

#comp6 {
	color: orange ;
	border-radius: 50%;
	text-align: center;
	padding: 20px;
	border: 3px solid orange ;
}

#comp7 {
	background-color:#ff9999;
	border-radius: 50%;
	text-align: center;
	padding: 20px;	
	border: 3px solid grey ;
}
*/

/*
.main {

	width: 66%;
}

.pic {

	width: 34%;
	background-color: teal;
}

#aside {
	width: 33%;	
}


#cssClick {

}

.header {
	background-color: teal;
	color: white;
	width: 66%;
	margin: 0;
	padding: 5%;
}

.title {
	margin: 0;
	padding-top: 1vh;
	color: red;
	font-size: 1.3em;
}

.dev {
	font-size: 1.5em;
}

.html5 {
	color:red;
}

.css3 {
	color:blue;
}
*/

#colorBox, #colorBox2 {
	position: absolute;
	left: 0;
	background-color: rgba(0, 0, 0, 0.5);
	color: white;
	list-style: none;
	cursor: pointer;	
}

.colorBoxTop {
	top: 0;
}

.colorBoxBottom {
	bottom: 0;
}

#colorBox li, #colorBox2 li { 
  padding-left: 16px; 
  padding-right: 16px;
    text-align: left;
}

#colorBox li::before, #colorBox2 li::before  {
  content: "•";
  font-size: 4em;
  padding-right: 8px;
  line-height: 0.5em;
  vertical-align: -50%;
}

#colorBox li:nth-child(1)::before {
  color: #7cb342;
}

#colorBox li:nth-child(2)::before {
  color: #546e7a;
}

#colorBox li:nth-child(3)::before {
  color: #00897b;
}

#colorBox li:nth-child(4)::before {
  color: #f4511e;
}
#colorBox li:nth-child(5)::before {
  color: #1e88e5;
}

#colorBox li:nth-child(6)::before {
  color: #ffffff;
}

#colorBox2 li:nth-child(1)::before {
  color: #C5E1A5;
}

#colorBox2 li:nth-child(2)::before {
  color: #90A4AE;
}

#colorBox2 li:nth-child(3)::before {
  color: #4DB6AC;
}

#colorBox2 li:nth-child(4)::before {
  color: #FF8A65;
}
#colorBox2 li:nth-child(5)::before {
  color: #64B5F6;
}

#colorBox2 li:nth-child(6)::before {
  color: #ffffff;
}

.draggable {

	box-shadow: 0 5px 15px 0px rgba(0,0,0,0.6);
	transform: translatey(0px);
	animation: float 2s ease-in-out infinite;
}

@keyframes float {
	0% {
		box-shadow: 0 5px 15px 0px rgba(0,0,0,0.6);
		transform: translatey(0px);
	}
	50% {
		box-shadow: 0 25px 15px 0px rgba(0,0,0,0.2);
		transform: translatey(-20px);
	}
	100% {
		box-shadow: 0 5px 15px 0px rgba(0,0,0,0.6);
		transform: translatey(0px);
	}
}

#contactPrint {
  text-align: center;
  display: none;
}

/*-----------------------slide2-----------------------*/

#cont2, #cont3, #cont4, #cont404, #contact {
  width: auto;
  height: auto;
  transition: 1s;
  transform-origin: 110% -10%;
  /* max-width: 65%; */
}


#mvotd img, #cont404 img,#pbcDesign img, #sandbox img, #contact img{
  width: 60vw;
}
/*------------alt js style-------------*/

.head1 {
  padding: 25px;
  text-align: center;
  background: #546E7A;
  color: white;
}

.head2 {
  padding: 25px;
  text-align: center;
  background: #00897B;
  color: white;
}

.head3 {
  padding: 25px;
  text-align: center;
  background: #F4511E;
  color: white;
}

.head4 {
  padding: 25px;
  text-align: center;
  background: #1E88E5;
  color: white;
}

.footer1 {
  padding: 10px;
  text-align: center;
  background: #546E7A;
  color: white;
}

.footer2 {
  padding: 10px;
  text-align: center;
  background: #00897B;
  color: white;
}

.footer3 {
  padding: 10px;
  text-align: center;
  background: #F4511E; 
  color: white;
}

.footer4 {
  padding: 10px;
  text-align: center;
  background: #1E88E5; 
  color: white;
}

.side1 {
  -ms-flex: 30%; /* IE10 */
  flex: 30%;
  background-color: #90A4AE;
  padding: 20px;
}

.side2 {
  -ms-flex: 30%; /* IE10 */
  flex: 30%;
  background-color: #4DB6AC;
  padding: 20px;
}

.side3 {
  -ms-flex: 30%; /* IE10 */
  flex: 30%;
  background-color: #FF8A65;
  padding: 20px;
}

.side4 {
  -ms-flex: 30%; /* IE10 */
  flex: 30%;
  background-color: #64B5F6;
  padding: 20px;
}

.comp1 {
  width: 100%;
  background-color: #90A4AE;
  text-align: center;
}

.comp2 {
  width: 100%;
  background-color: #4DB6AC;
  text-align: center;
}

.comp3 {
  width: 100%;
  background-color: #FF8A65;
  text-align: center;
}

.comp4 {
  width: 100%;
  background-color: #64B5F6;
  text-align: center;
}

/* Responsive layout - when the screen is less than 700px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 700px) {
  .row {   
    flex-direction: column;
  }
}


/*------------------------sl4 flipcard contact-----------------------*/


 /* The flip card container - set the width and height to whatever you want. We have added the border property to demonstrate that the flip itself goes out of the box on hover (remove perspective if you don't want the 3D effect */
.flip-card {
  background-color: transparent;
	height:80vh;
	width: 80vh;
	perspective: 1000px;   /* Remove this if you don't want the 3D effect */
	border-radius: 30px;

}

/* This container is needed to position the front and back side */
.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 1s;
  transform-style: preserve-3d;
}


.flip {
    transform: rotate3d(-1, 1, 0, 180deg);
}

.flipRev {
    transform: rotate3d(1, -1, 0, 180deg);
}

/* Position the front and back side */
.flip-card-front, .flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  	font-family: Roboto;
	color: white;
    font-size: 3em; 
	border-radius: 30px;
	
}

/* Style the front side (fallback if image is missing) */
.flip-card-front {
    background-image: linear-gradient(to bottom right, red, blue);
    display: flex;
	flex-wrap: wrap;
	box-shadow: 10px 10px 5px rgba(0, 0, 0,0.5);	
}

/* Style the back side */
.flip-card-back {
  transform: rotateY(180deg);

} 

.cardInnerDiv {
	width: 50%;
	height: 50%;
    display: flex;
    align-items: center;
	justify-content:center;
}

.back{
	width: 100%;
	height: 100%;
   transform: rotateZ(-90deg); 
   border-radius: 30px;
   box-shadow: 10px 10px 5px rgba(0, 0, 0,0.5);
}

#contactBack {
	background-color: red;
}

#commentaireBack {
	background-color: blue;
}

#backButton {
	position: absolute;
	top: 20px;
	right: 20px;
	transform: rotateZ(-90deg); 
}

@media print {
  #cont1 {
      height: 100%;
      width: 100%;
      position: fixed;
      top: 0;
      left: 0;
      margin: 0;
      padding: 15px;
  }
  .printInfo {
    display: block;
  }
  #mainName, #printAdrBar {
    display: none;
  }
  h3.printInfo {
    text-align: center;
  }
}

.print {
    height: 100%;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    margin: 0;
    padding: 15px;

}

/******************************* mobile container *********************************************/

#mobMainCont{
  width: 100vw;
  height: 100vh;
  flex-direction: column;
  justify-content: end;
  z-index: 10;
  flex-shrink: 0;
}

.flex {
  display: flex;  
}

#mobMainMvotd {
  height: 90vh;
  width: 100vw;
  background-image: url("mvotd.png");
  background-size: cover;
  background-position: center; 
}


/******************************* menu *********************************************/

#menu {
  position: fixed;
  right: 0;
  top: 0;
  height: 100vh;
  width: 20vw;
  color: white;
  font-family: CF Three Dimensions Personal;
  font-weight: bold;
  font-size: 2rem;
  background-color: #000;
  flex-direction: column;
}

#minicv {
  width: 100%;
}

#menuIcon {
  position: sticky;
  margin: 2rem;
  right: 2rem;
  height: 50px;
  transition-duration: 1s;
  cursor: pointer;

}

.menuFirst {
  width: 100%;
  height: 50%;
  margin: 0;
  padding: auto 1rem;
  float: left;
  transition: 1s;
  cursor: pointer;
  text-align: center;
}

#menuMinicv {
  background-color: hotpink;
}
#menuProjets {
  background-color: darkslateblue;
}
.hidden2{
  visibility: hidden;
}
.flex{
  display:flex;
}

.bar1, .bar2, .bar3 {
  width: 35px;
  height: 5px;
  background-color: #fff;
  margin: 6px 0;
  transition: 0.4s;
}

#mobNav {
  width: 100%;
  /* height: 10vh; */
  display: flex;
}

.mobNavCat{
  width: 33.33%;
  /* height: 10vh; */
  font-family: CF Three Dimensions Personal;
  color: white;
  font-size: .8rem;
  text-align: center;
  padding: 1rem;
  cursor: pointer;
  z-index: 10;
}

#mobAccordeon{
  /* position: absolute; */
  width: 100%;
  /* height: 0;
  display: flex;
  flex-direction: column; */
  min-width: 100%;
  color: white;
  font-size: .8rem;
  text-align: center;
  cursor: pointer;
  transition: .5s;
  background-color: purple;
}

#mobWindow{
  overflow: scroll;
}

.borderProjets {
  border-style: solid;
  border-width: 5px;
  border-color: purple;
}

.overlay {
  background-color: rgba(0, 0, 0, 0.5);
  height:100%;
  position: absolute;
  width: 100%;
  top: 0;
  bottom: 0;
  left: 0; 
  right: 0;
}

.closeBtn {
  position: absolute;
  bottom: 3rem;
  right: 3rem;
  font-size:2rem;
}

#mobAccordeon img{
  width: 100%;
  cursor: pointer;
  
  /* height: 0; */
}

#mobPres {
  background-color: yellowgreen;
}
#mobProj {
  background-color: purple;
}
#mobCont {
  background-color: orangered;
}

/****************************media queries ********************************/

@media only screen and (orientation: portrait)and (max-width: 800px) {
  
  .container {
    position: relative;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    border: 0px none #f1f1f1;
    /* border-top-left-radius: 4px;
    border-top-right-radius: 4px; */
    background-color: #fff;
  }

  .container > .row {
    display: none;
  }
  

  #cont {
    display: flex;
    flex-direction: column-reverse;
    align-items: flex-end;
  }
}

@media only screen and (orientation: portrait) {
  #finalTitle img {
    width: 70%;
    height: auto;
  }
  
  /*
  #nav {
    position: relative;
    width: 100%;
    height: auto;
    left: auto;
    top: auto;
    bottom: auto;
    border:  0px none #fff;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
  }
  #nav .row{
    display: none;
  }
  #slideCont{
    width: 100%;    
  }
  #navCont{
    flex-direction: row;
    display: flex;    
  }
  .navCat{
    min-width: 33.33%;
  }
  #mobileNavTopView {
    display: flex;
    width: 100%;
    transition: 1s;
  }
  #navPresCont {
    order: 1;
  }
  */
}