html {
    scroll-behavior: smooth;
}

body {
	position: relative;	
	height:100vh;
	margin: 0;
	/*overflow:hidden;*/
	background-color: blue;
	color: white;
	display: flex;
	flex-direction: column;
	text-align: center;
	
}

@font-face {
    font-family: 'CF Three Dimensions Personal';
    src: url('CFThreeDimensionsPersonal-Reg.eot');
    src: url('CFThreeDimensionsPersonal-Reg.eot?#iefix') format('embedded-opentype'),
        url('CFThreeDimensionsPersonal-Reg.woff2') format('woff2'),
        url('CFThreeDimensionsPersonal-Reg.woff') format('woff'),
        url('CFThreeDimensionsPersonal-Reg.ttf') format('truetype'),
        url('CFThreeDimensionsPersonal-Reg.svg#CFThreeDimensionsPersonal-Reg') format('svg');
    font-weight: normal;
    font-style: normal;
}

h1 {
	display:inline-block;
	color: white;
	position: relative;
	top: 0;
	/*left: 25%;*/
	font-family: CF Three Dimensions Personal;
	font-size: 10rem;
	-ms-transform: rotate(-20deg); /* IE 9 */
    -webkit-transform: rotate(-20deg); /* Safari 3-8 */
    transform: rotate(-20deg);
	margin:auto;
	max-width: 700px;
}

#constr {
	font-size: 3rem;
	font-family: CF Three Dimensions Personal;
	margin: 5vh;
}

#mvotd {
	font-family: verdana;
	font-size: 2rem;
}

a {
	color: lightpink;
	padding: 2vh;
	border-radius:15px;
}

a:hover {
	background-color: lightpink;
	color: white;
}


